
/* ------------------------------------------------------------------------
                                Todo a cero 
---------------------------------------------------------------------------*/
*{margin:0; padding:0;font-family: "Segoe UI Light","Calibri",Arial;}
img{ border: none;}

/* Titulos */
h1 { font-family:"Segoe UI Light","Calibri",Arial; text-align: center; color: #000; font-size:60px; letter-spacing:-1px; }
h1 small{ font-size: 24px; display: block; color: #636363; }
h3 { font-family:"Segoe UI Light","Calibri",Arial; color: #000; font-size:24px; letter-spacing:-1px; }

/* ------------------------------------------------------------------------
                               Cuerpo página
---------------------------------------------------------------------------*/
#cuerpo { width:100%; margin:0px auto; }
div { margin: 20px;}
html { background-color: #F2F2F2;}

/* ------------------------------------------------------------------------
                                Div contenido 
---------------------------------------------------------------------------*/
#contenido { width: 90%; margin: -10px auto; }
#contenido p { font: 14px "Segoe UI Light","Calibri",Arial;  color:#333333; line-height:18px; margin:15px auto; width:90%; text-align: justify;}
#contenido p a { color:#0088CC; text-decoration:none; }
#contenido p a:hover { text-decoration:underline; }


/* ------------------------------------------------------------------------
                                logo Denay
---------------------------------------------------------------------------*/
@-webkit-keyframes animacionLogo {
    from { opacity: 0;}
    to { opacity: 1;}
}
#logo {
    z-index:0;
    position:relative;
    top: 50px;
    left: -50px;
    -webkit-animation: animacionLogo 1.5s; position: relative;
}

/*-------------------------------------------------------------------------
                            Hilo de Ariadna
---------------------------------------------------------------------------*/
@-webkit-keyframes animacionHiloAriadna {
    from { opacity: 0;}
    to { opacity: 1;}
}

.hiloAriadna {

  padding: 7px 14px;
  font-family:"Segoe UI Light","Calibri",Arial;
  font-size:10px;
   background-color: #F2F2F2;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  width:80%;
  margin-left: auto;
  margin-right: auto;

}
.hiloAriadna li {
  display: inline-block;
  text-shadow: 0 1px 0 #ffffff;
}
.hiloAriadna .divider {
  padding: 0 5px;
  color: #999999;
}
.hiloAriadna .activo a {
  color: #333333;
}

/* ------------------------------------------------------------------------
                               Inicio Menú 
---------------------------------------------------------------------------*/

#menu { 
    margin:0 auto; list-style:none;
    font-family: "Segoe UI Light","Calibri",Arial; letter-spacing:-0.5px; font-size:13px;
    text-shadow: 0 -1px 3px #202020;
    width:100%; height:34px;
    

    
    /*-moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow: 0px 3px 3px #cecece;
    -webkit-box-shadow: 0px 3px 3px #cecece;
    box-shadow: 0 3px 4px #8b8b8b;*/
}

#menu li { 
    display:block; 
    float:left; 
    border-right:1px solid #5d5d5d; 
    border-left:1px solid #929292; 
    width:19%; 
    height:34px; 
    border-bottom:1px solid #575757; 
    border-top:1px solid #797979;

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), color-stop(1, #838383));
    background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%, #838383 100%);
    background-color:#5f5f5f; 
}
/* La barra de búsqueda no tendrá animación al pasar por encima ni al clicar, etc pero las demas si*/
#menu li:not(:last-child):hover {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3F3F3F), color-stop(0.5, #383838), color-stop(0.51, #434343), color-stop(1, #555555));
    background-image: -moz-linear-gradient(center bottom, #3F3F3F 0%, #383838 50%, #434343 51%, #555555 100% );
    background-color:#383838; 
    -moz-box-shadow: inset 0 0 5px 5px #535353;
    -webkit-box-shadow: inset 0 0 5px 5px #535353;
    box-shadow: inset 0 0 5px 5px #535353;
}

#menu li:not(:last-child):activo {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3F3F3F), color-stop(0.5, #383838), color-stop(0.51, #434343), color-stop(1, #555555));
    background-image: -moz-linear-gradient(center bottom, #3F3F3F 0%, #383838 50%, #434343 51%, #555555 100% );
    background-color:#383838;
    
    -moz-box-shadow: inset 0 1px 2px 2px #000;
    -webkit-box-shadow: inset 0 1px 2px 2px #000;
    box-shadow: inset 0 1px 2px 2px #000;
}

#menu li a { color:white; text-decoration:none; text-align:center; display:block; line-height:34px; outline:none; float: center }

/* Barra de búsqueda */

#menu form input { width:70%; height:20px; margin-top: 7px; margin-left: 5%; border:none; padding-left:20px; padding-right:10px; color:#eee; 

    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;

    /* We use the CSS3 multiple backgrounds for the input field: The magnifier image and the gradient background */    
    background-image: url("img/busca.png"), -webkit-gradient(linear, left bottom, left top, color-stop(0, #747474), color-stop(0.5, #6E6E6E), color-stop(0.51, #7E7E7E), color-stop(1, #8D8D8D));
    background-image: url("img/busca.png"), -moz-linear-gradient(center bottom, #747474 0%, #6E6E6E 50%, #7E7E7E 51%, #8D8D8D 100%);
    background-repeat: no-repeat;
    
    background-color:#6E6E6E; /* Fallback */
    
    -moz-box-shadow: inset 0 2px 1px 1px #363636;
    -webkit-box-shadow: inset 0 2px 1px 1px #363636;
    box-shadow: inset 0 2px 1px 1px #363636;
}

/* Rounded corner for the first in last item. Shorthand: Top left, Top right, Bottom right, Bottom left.
We also remove the borders, since they don't need them. */
#menu li:first-child {
    -moz-border-radius:4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
    border-radius:4px 0 0 4px;
    
    border-left:none;
}
#menu img {
    margin-top: 2px;
    height: 30px; 
    width:30px;
}



#menu li:last-child {
    -moz-border-radius:0 4px 4px 0;
    -webkit-border-radius:0 4px 4px 0;
    border-radius:0 4px 4px 0;
    border-top: none;
    height: 35px;
    border-right:none;
    width: 19%;
    
   
}

/* Animación de entrada del menú (Chrome OK, ie10 NO, firefox NO)*/
@-webkit-keyframes animacionMenu {
    from { opacity: 0; top:20px; }
    to   { opacity: 1; }
}


#menu {
     -webkit-animation: animacionMenu 1s; position:relative;
}
/* ------------------------------------------------------------------------
                               Fin Menú 
---------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------
                          Inicio Lista Contenidos 
---------------------------------------------------------------------------*/

#lista ul {
  list-style-type: none;
  width: 100%;
}
 
#lista li img {
  float: left;
  margin: 0 15px 0 0;
}
 
#lista li p {
  font: 200 12px/1.5 "Segoe UI Light","Calibri",Arial;
}
 
#lista li {
  padding: 10px;
  overflow: auto;
}
 
#lista li:hover {
  background: #eee;
  cursor: pointer;
}

/* ------------------------------------------------------------------------
                            Fin lista contenidos 
---------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------
                               Galeria 
---------------------------------------------------------------------------*/
#galeria div img{
    width: 100%;
    margin: 0 auto;
    
}
#galeria img{
    display: block;

    margin: 0 auto;
}

/* ------------------------------------------------------------------------
                               Divs sociales 
---------------------------------------------------------------------------*/
#social{
    background-image: url(img/social_bg.png);
    width: 100%;
    position: absolute;
    margin: 0 auto;
    padding: 0;
    border:0;
    left: 0;
    display: table;
    -webkit-box-shadow: 0px 0px 11px #000;
    -moz-box-shadow:    0px 0px 11px #000;
    box-shadow:         0px 0px 11px #000;
}
#social div{
    display: table-cell;
    width: 30%;    
}
.icon {
    width: 32px;
    height: 32px;
   margin: 0 auto; 
   display: inline;
   vertical-align: bottom;
}
#social h2{
  color: #736861;
  margin:15px 0 5px;
  text-shadow: 0 1px rgba(255,255,255,0.5);
  display: inline;
}


/* ------------------------------------------------------------------------
                               Comentarios 
---------------------------------------------------------------------------*/



#comentarios div{
    width: 90%;
    margin: 0 auto;
    display: block;
    padding-top: 5px;
    position: relative;
    vertical-align: top;
}

.fotoUser {
   
     display: inline;

    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.fotoUser p{
    display: inline;
}


#comentarios{
 
  min-height:315px;
  margin:0 auto;
  position:relative;
  padding-bottom:30px;
  overflow:hidden;
}
#comentarios h2{
  color:#736861; 
  margin:15px 0 5px;
  text-shadow:0 1px rgba(255,255,255,0.5);
}
#comentarios h6{
  color:#928566; 
  margin:0;
}
#comentarios h6 a:link, #comentarios h6 a:visited{
  color:whitesmoke;
  text-decoration: none;
}

#comentarios blockquote{
  margin:0;
  padding:30px;
  background-color: #DB532B;
  color:white;
  box-shadow: 0 5px 2px rgba(0,0,0,0.1);
  position:relative;
  transition: background-color 0.6s linear;
}

#comentarios blockquote:after { 
  content: " "; 
  height: 0; 
  width: 0; 
  position: absolute; 
  top: 100%; 
  border: solid transparent; 
  border-top-color: #DA532B;
  border-left-color:#DA532B;
  border-width: 10px; 
  left: 10%; 
} 



.quotes{
  position:absolute;
  color:rgba(255,255,255,0.5);
  font-size:5em;
  font-family: Times New Roman;
}
.leftq{
  top: -15px;
  left:5px;
}
.rightq{
  bottom:-5px;
  right:45px;
}
#comentarios img{
  float:left;
  margin-right: 20px;
}
.slide{
  position:absolute;
  opacity:1;
  transition: all 0.6s ease-in;
}

/******************************************************
                        ANALISIS
*******************************************************/
#analisis {
    position: relative;
    vertical-align: top;
    padding: 5px 15px 15px 15px;
}
.testimonial {
  background: #fff;
  -webkit-box-shadow: 0px 0px 11px #000;
-moz-box-shadow:    0px 0px 11px #000;
box-shadow:         0px 0px 11px #000;
  position: relative;
  text-align: center;
  width: 80%;
}  
  .quote {
    color: #666;
    display: inline-block;
    font-size: 12px;
    margin: 20px 25px 0;
    padding: 10px 0 25px;
    text-align: justify;
  }
  .testimonial img {
    background: #fff;
    border-radius: 50%;
    padding: 0 25px;
    position: relative;
    z-index: 2;
  }
  #analisis h2{
    text-shadow:0 1px rgba(255,255,255,0.5);
    color: #736861;  
  }
  .sub {
    color:#928566;
    font-size: 12px;
    display: block;
  }
  .sub a:link, .sub a:visited{
  color:#666;
  text-decoration: none;
}

/******************************************************
                      PUNTUACIONES
*******************************************************/
#puntuacion {
    position: relative;
    vertical-align: top;
    padding: 5px 15px 15px 15px;

}
.rating {
    direction: rtl;
    font-size: 17px;
    unicode-bidi: bidi-override;
    position: relative;
}
    .rating span.star {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
    }
       .rating span.star:hover {
            cursor: pointer;
        }
        .rating span.star:before {
            color: #F9C8D3;
            content: "\f006";
        }
        .rating span.star:hover:before, 
        .rating span.star:hover ~ span.star:before {
            color: #EF005B;
            content: "\f005";
        }
        .rating span.star:hover:after {
            direction: ltr;
            content: attr(title);
            position: absolute;
            left: 0;
            bottom: -22px;
            white-space: nowrap;
            font: normal 14px/normal Arial, Helvetica, sans-serif;
        }
    

.ratings {
    width: 85px;
    height: 17px;
    display: inline-block;
    position: relative;
}
    .ratings:before,
    .ratings:after{
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .ratings:before {
      color: #F9C8D3;
      content: "\f006\f006\f006\f006\f006";
    }
    .ratings:after {
      color: #EF005B;
      content: "\f005\f005\f005\f005\f005";
      overflow: hidden;
    }


.ratings.one:after{content: "\f005";}
.ratings.onehalf:after{content: "\f005\f089";}
.ratings.two:after{content: "\f005\f005";}
.ratings.twohalf:after{content: "\f005\f005\f089";}
.ratings.three:after{content: "\f005\f005\f005";}
.ratings.threehalf:after{content: "\f005\f005\f005\f089";}
.ratings.four:after{content: "\f005\f005\f005\f005";}
.ratings.fourhalf:after{content: "\f005\f005\f005\f005\f089";}

#puntuacion div.punt{
    position: relative;
    background-color: whitesmoke;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 11px #000;
    -moz-box-shadow:    0px 0px 11px #000;
    box-shadow:         0px 0px 11px #000;
}
.fotoPunt{
    display: block;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    float: right;
}
.fotoPunt h2{
    display: block;
    
}
.separacion{
    min-height: 20px;
}
#puntuacion div{
    display: block;
    width: 90%;
}

/*----------------------------------------------------
                Estilos imágenes usuario
------------------------------------------------------*/
.big {
     width: 150px;
    height: 150px;
}
.medium{
    width: 100px;
    height: 100px;
}
.small{
    width: 64px;
    height: 64px;
}